
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MVC Crud Example</title>
    <style>
        table {
            border-collapse: collapse;
            width: 50%;
            border: 1px solid black;
        }

        th,
        td {
            text-align: left;
            padding: 16px;
            border: 1px solid black;
        }
        .logo{
            width: 30px;
            height: 20px;
        }
        img{
            height: 100px;
            width: 100px;
        }
    </style>
</head>
<body>

<div class="container" style="margin-left: 40px; margin-bottom: 30px;">
    <h4>Hello World</h4>
 </div>

</body>
</html>
